In [17]:
import pyspark
from pyspark.sql import SparkSession
import pyarrow
import pandas as pd
from pyspark.sql import types
from pyspark.sql import functions as F

In [18]:
spark = SparkSession.builder \
    .master('spark://de-zoomcamp.europe-west2-c.c.ny-rides-arith.internal:7077') \
    .appName('test') \
    .getOrCreate()

In [19]:
spark

In [20]:
df_green = spark.read.parquet('data/raw/green/*/*')

In [21]:
df_yellow = spark.read.parquet('data/raw/yellow/*/*')

In [22]:
set(df_green.columns) & set(df_yellow.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

In [33]:
df_yellow = df_yellow \
            .withColumnRenamed('tpep_pickup_datetime', 'pickup_datetime') \
            .withColumnRenamed('tpep_dropoff_datetime', 'dropoff_datetime')

In [34]:
df_green = df_green \
            .withColumnRenamed('lpep_pickup_datetime', 'pickup_datetime') \
            .withColumnRenamed('lpep_dropoff_datetime', 'dropoff_datetime')

In [35]:
common_columns = []

yellow_columns = set(df_yellow.columns)

for col in df_green.columns:
    if col in yellow_columns:
        common_columns.append(col)

In [49]:
common_columns = [
    'VendorID',
    'pickup_datetime',
    'dropoff_datetime',
    'store_and_fwd_flag',
    'RatecodeID',
    'PULocationID',
    'DOLocationID',
    'passenger_count',
    'trip_distance',
    'fare_amount',
    'extra',
    'mta_tax',
    'tip_amount',
    'tolls_amount',
    'improvement_surcharge',
    'total_amount',
    'payment_type',
    'congestion_surcharge'
]

In [50]:
df_green_sel = df_green \
    .select(common_columns) \
    .withColumn('service_type', F.lit('green'))

In [51]:
df_yellow_sel = df_yellow \
    .select(common_columns) \
    .withColumn('service_type', F.lit('yellow'))

In [52]:
df_trips_data = df_green_sel.unionAll(df_yellow_sel)

In [53]:
df_trips_data.groupBy('service_type').count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2802931|
|      yellow|55553400|
+------------+--------+

In [54]:
df_trips_data.registerTempTable('trips_data')

In [55]:
spark.sql("""

select 
    count(1)
    ,service_type
from trips_data
group by
    service_type
;

""").show()

+--------+------------+
|count(1)|service_type|
+--------+------------+
| 2802931|       green|
|55553400|      yellow|
+--------+------------+

In [46]:
spark.sql("""

select 
    *
from trips_data
;

""").show()

+--------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+------------+
|VendorID|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|payment_type|congestion_surcharge|service_type|
+--------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+------------+
|       2|                 N|       1.0|         264|         264|            5.0|          0.0|        3.5|  0.5|    0.5|      0.01|         0.0|                  0.3|        4.81|         1.0|                 0.0|       green|
|       2|                 N|       5.0|          66|          65|            2.0|         1.28|       20.0|  0.0|    0.0|      4.06|         0.0|                  0.3|       24.36|         1.0|                 0.0|       green|
|       2|                 N|       1.0|         181|         228|            1.0|         2.47|       10.5|  0.5|    0.5|      3.54|         0.0|                  0.3|       15.34|         1.0|                 0.0|       green|
|       1|                 N|       1.0|         129|         263|            2.0|          6.3|       21.0| 3.25|    0.5|       0.0|         0.0|                  0.3|       25.05|         2.0|                2.75|       green|
|       1|                 N|       1.0|         210|         150|            1.0|          2.3|       10.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        11.3|         1.0|                 0.0|       green|
|       1|                 N|       1.0|          35|          39|            1.0|          3.0|       13.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        14.8|         1.0|                 0.0|       green|
|       2|                 N|       1.0|          25|          61|            1.0|         2.77|       11.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        12.3|         2.0|                 0.0|       green|
|       2|                 N|       1.0|         225|          89|            1.0|         4.98|       20.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        21.8|         2.0|                 0.0|       green|
|       2|                 N|       1.0|         129|         129|            1.0|         0.71|        5.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         6.8|         2.0|                 0.0|       green|
|       2|                 N|       1.0|         129|          83|            1.0|          0.8|        5.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         6.8|         2.0|                 0.0|       green|
|       2|                 N|       1.0|          82|         173|            1.0|         1.52|        9.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        10.8|         2.0|                 0.0|       green|
|       1|                 N|       1.0|          74|          69|            1.0|          3.8|       14.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        15.3|         2.0|                 0.0|       green|
|       2|                 N|       1.0|          74|          41|            1.0|         1.12|        6.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         7.8|         1.0|                 0.0|       green|
|       2|                 N|       1.0|          41|         127|            1.0|         5.67|       19.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        20.3|         2.0|                 0.0|       green|
|       2|                 N|       1.0|           7|         260|            1.0|         1.86|        9.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        10.8|         2.0|                 0.0|       green|
|       2|                 N|       1.0|           7|           7|            1.0|         1.42|        7.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         8.3|         2.0|                 0.0|       green|
|       2|                 N|       1.0|           7|         133|            1.0|        15.48|       43.0|  0.5|    0.5|      8.86|         0.0|                  0.3|       53.16|         1.0|                 0.0|       green|
|       2|                 N|       1.0|         134|          28|            1.0|         1.15|        5.5|  0.5|    0.5|       1.0|         0.0|                  0.3|         7.8|         1.0|                 0.0|       green|
|       1|                 N|       1.0|          89|          39|            1.0|          2.3|       10.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        11.3|         2.0|                 0.0|       green|
|       1|                 N|       1.0|          66|          65|            3.0|          1.0|        6.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         7.8|         2.0|                 0.0|       green|
+--------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+------------+
only showing top 20 rows

In [57]:
df_result = spark.sql("""
SELECT 
    -- Revenue grouping 
    PULocationID AS revenue_zone,
    date_trunc('month', pickup_datetime) AS revenue_month, 
    service_type, 

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,

    -- Additional calculations
    AVG(passenger_count) AS avg_montly_passenger_count,
    AVG(trip_distance) AS avg_montly_trip_distance
FROM
    trips_data
GROUP BY
    1, 2, 3
""")

In [58]:
df_result.show()

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_montly_passenger_count|avg_montly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|         232|2020-01-01 00:00:00|       green|  7108.4500000000035|                502.0|                  32.55|                       0.0|          186.64000000000004|                    75.29999999999964|           7904.939999999989|                                2.75|        1.1428571428571428|       5.600396825396825|
|          61|2020-02-01 00:00:00|       green|    69339.4300000004|               5996.0|                  893.0|        1025.1799999999996|           741.7500000000003|                    999.8999999999397|           79369.60999999837|                              120.75|        1.2360128617363344|      3.5227986444507238|
|         168|2020-03-01 00:00:00|       green|  16018.859999999995|                261.5|                  291.5|        222.31000000000006|           624.2900000000003|                   298.50000000000557|          17858.309999999976|                               74.25|        1.2292993630573248|       4.038592375366565|
|          76|2020-03-01 00:00:00|       green|   29693.67999999998|               225.75|                  160.0|        59.289999999999985|           793.7900000000005|                    402.0000000000095|          31531.759999999867|                                 0.0|        1.2048611111111112|        5.92969652109549|
|         168|2019-12-01 00:00:00|       green|                20.0|                  0.5|                    0.5|                       0.0|                         0.0|                                  0.3|                        21.3|                                 0.0|                       1.0|                    6.54|
|         194|2020-01-01 00:00:00|       green|              1151.5|                 41.5|                   11.5|                     11.14|           201.9600000000001|                    9.900000000000002|          1442.4000000000003|                                11.0|        1.2857142857142858|       7.282142857142855|
|         260|2020-02-01 00:00:00|       green|   80328.49000000005|              3379.75|                 3330.0|         7016.409999999998|           585.6800000000003|                   2081.6999999998015|           97264.58000000793|                               571.5|        1.5792827504445761|      2.5521661424077786|
|          70|2020-03-01 00:00:00|       green|   4011.080000000001|                 35.0|                   65.0|                      75.1|          119.08000000000003|                    71.39999999999968|           4404.460000000002|                               13.75|          1.25503355704698|       4.113861788617886|
|          42|2009-01-01 00:00:00|       green|                 7.0|                  0.5|                    0.5|                       0.0|                         0.0|                                  0.3|                         8.3|                                 0.0|                       1.0|                    1.52|
|         191|2021-10-01 00:00:00|       green|   7550.810000000004|                390.6|                   28.0|                      21.5|                      174.77|                    59.69999999999979|           8228.129999999994|                                 0.0|        1.0526315789473684|       2928.138844221106|
|         166|2020-01-01 00:00:00|       green|  176918.85000000024|              8583.75|                 7631.5|        23883.979999999694|          2789.5999999999754|                     4685.70000000138|           236168.8299999716|                            13691.75|        1.1976834981780322|      2.4476409251769455|
|         195|2020-01-01 00:00:00|       green|  11358.090000000017|                549.5|                  143.0|         804.6199999999999|           255.0700000000001|                   135.29999999999941|          13429.329999999987|                              129.25|         1.211726384364821|       4.585847619047619|
|         207|2020-01-01 00:00:00|       green|  469.68999999999994|                22.75|                   19.5|                       0.0|          26.770000000000003|                    12.90000000000001|           551.6100000000004|                                 0.0|         1.162162162162162|      2.2102222222222223|
|         237|2020-01-01 00:00:00|       green|  3895.6099999999997|                248.5|                    7.5|                       0.0|          176.44000000000008|                   31.500000000000053|           4359.549999999999|                                 0.0|                       1.0|      10.208504672897195|
|         243|2020-02-01 00:00:00|       green|   41227.25999999999|               1845.5|                  806.0|                   2132.68|           952.0499999999997|                    615.8999999999979|           48293.43999999925|                              752.75|        1.1686251468860165|      4.5277266514806405|
|          31|2020-02-01 00:00:00|       green|  1657.5600000000002|                 82.0|                   25.0|        107.82999999999998|           53.51999999999999|                   22.500000000000032|                     1975.91|                               30.25|        1.0178571428571428|       5.226790123456792|
|         175|2020-02-01 00:00:00|       green|  3626.6899999999946|               268.75|                   13.5|                      2.82|          122.40000000000003|                    34.20000000000003|          4068.3599999999988|                                 0.0|                       1.1|       6.121779661016951|
|          87|2020-03-01 00:00:00|       green|  3224.8599999999997|                  1.0|                    3.0|                       0.0|          192.01000000000005|                   24.300000000000036|          3445.1699999999996|                                 0.0|                       1.0|      10.735185185185186|
|         243|2021-10-01 00:00:00|       green|   13752.01000000002|    483.8500000000001|                  142.0|        1032.2799999999997|           328.9000000000003|                   173.10000000000085|          16178.840000000024|                                88.0|        1.1661129568106312|       443.8262478485369|
|         151|2021-10-01 00:00:00|       green|   3113.719999999999|               243.35|                    2.5|                     34.39|          100.26999999999997|                    29.40000000000005|           3533.630000000002|                                 0.0|                       1.0|      1814.0055102040817|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
only showing top 20 rows

In [34]:
df_result.coalesce(1).write.parquet('data/report/revenue/', mode='overwrite')